<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyApp">
        <activity
            android:name=".bits_and_pizzas.PizzaDetailActivity"
            android:parentActivityName=".bits_and_pizzas.BitsAndPizzasActivity" >
        </activity>
        <activity android:name=".workout.TempActivity" />
        <activity android:name=".workout.WorkoutDetailActivity" />
        <activity android:name=".workout.WorkoutActivity" />
        <activity
            android:name=".bits_and_pizzas.OrderActivity"
            android:label="@string/create_order"
            android:parentActivityName=".bits_and_pizzas.BitsAndPizzasActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bits_and_pizzas.BitsAndPizzasActivity"
            android:label="@string/bits_and_pizzas"
            android:theme="@style/AppTheme" />
        <activity android:name=".training_of_pets.CatActivity" />
        <activity
            android:name=".training_of_pets.CatsCategoryActivity"
            android:parentActivityName=".training_of_pets.TrainingOfPetsActivity" />
        <activity android:name=".training_of_pets.TrainingOfPetsActivity" />
        <activity android:name=".constraint_layout.ConstraintLayoutActivity" />
        <activity
            android:name=".picture_and_text.PictureAndTextActivity"
            android:label="@string/title_activity_picture_and_text"
            android:theme="@style/Theme.StudyApp.NoActionBar" />
        <activity android:name=".stopwatch.StopwatchActivity" />
        <activity android:name=".message.ShowMessageActivity" />
        <activity android:name=".message.CreateMessageActivity" />
        <activity android:name=".pet_chooser.ChooserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>